<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://loremflickr.com/900/400/restaurant,<%= @restaurant.category.downcase %>?lock=<%= @restaurant.id %>);">
  <div class="container">
  </div>
</div>
<div class="container mt-2">
  <div class="row justify-content-around">
    <div class="col-12 col-sm-8">
      <p>
        <%= link_to '< Restaurants', restaurants_path, class: 'btn-light opacity-25 text-decoration-none' %>
      </p>
      <div class="d-flex align-items-center">
        <h1 class="m-0"><%= @restaurant.name %></h1>

      </div>
      <p class="fw-lighter opacity-75 mt-2"><%= Faker::Restaurant.description  %></p>
      <h3>Reviews</h3>
      <ul class="list-unstyled">
        <% if @restaurant.reviews.any? %>
          <% @restaurant.reviews.each do |review| %>
            <li class="ml-2">
              <%= review.content %>
            </li>
            <li class="ml-2">
                <% review.rating.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% (5 - review.rating).times do %>
                  <i class="far fa-star"></i>
                <% end %>
                <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: 'Delete Review?' } do %>
                  <i class="fa-solid fa-trash text-dark"></i>
                <% end %>
            </li>

          <% end %>
        <% else %>
          <li>No reviews yet.</li>
        <% end %>
        <br>
        <%# <p><%= link_to 'Add Review', new_restaurant_review_path(@restaurant) </p> %>
      </ul>
      <div class="container">
      <h1>Add Review</h1>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5], include_blank: false %>
        <%= f.submit 'Submit', class: 'btn btn-info mt-2' %>
      <% end %>
    </div>

    </div>
    <div class="col-12 col-sm-4 mt-5">
      <%= render 'restaurants/side_info' %>
    </p>
  </div>
</div>
